*{
  margin: 0px;
}

body{
  background-color:#d7dbdd;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-image {
  width: 160px;
}

.navbar-container{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.navbar-like{
  padding: 5px;
}

.searchbar-container{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.searchbar {
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;

}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  border-radius: 10px;
  border: none;
  width: 200px;
}

.searchbar-button button{
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 10px 12px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.pokedex-header h1{
  font-family: monospace;  
  color: #0e6f9f;
}

.pokedex-grid {
  padding: 20px 20px 0px 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  border-radius: 20px;
  background-color:#ecf0f1;
  padding: 5px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
}

.pokemon-image-container {
  padding: 0px 5px;
  border-radius: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
  border-radius: 20px;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3{
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-top: 50px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button-left, .button-right{
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.pokemon-heart-btn {
  border: none;
  background-color: #f6f8fc;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.pokemon-heart-btn:hover{
  transform: translateY(-2px);
}

.pokemon-card:hover{
  transform: translateY(-5px);
}

.button-left:hover, .button-right:hover {
  transform: translateY(1px);
}

.pokemon-type-text{
  display:inline;
  border-style: solid;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  border-width: 0.5px;
  text-transform: uppercase;
  background-color:  #eff1f7 ;
  font-weight: 100;
}

.App {
  text-align: center;
}